.sideForm {
    display: 'flex';
    align-items: 'center';
    margin-left: 'auto';
}

.input {
    padding: '30px';
    font-size: '10px';
    min-height: 30;
}

.icon {
    color: black;
    font-size: 10px;
    margin-left: medium;
    cursor: 'pointer';
}